## Calling Libraries

In [48]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\kim\anaconda3\envs\dash\lib\site-packages (1.3.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\kim\anaconda3\envs\dash\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\kim\anaconda3\envs\dash\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.17.3 in c:\users\kim\anaconda3\envs\dash\lib\site-packages (from pandas) (1.21.2)
Requirement already satisfied: six>=1.5 in c:\users\kim\anaconda3\envs\dash\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [3]:
import pandas as pd

## Calling the Data

In [1]:
# Path of the data's location
path = '../Python Revenue Dashboard/'

In [4]:
# Revenue data
revenue = pd.read_csv(path + 'Revenue data/Revenue.csv')

In [5]:
revenue.head(2)

,OrderID,OrderDate,Gender,AgeGroup,Channel,ShipDate,ItemCode,MapCode,Quantity,Revenue,Cost
0,100013196,2020-03-20,Female,30s,Online,2020-03-22,D10002,34,46,35576.6,29647.155
1,100061261,2018-06-20,Female,50s,Offline,NaN,D10001,5,69,10222.8,8518.990

In [9]:
revenue.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27657 entries, 0 to 27656
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   OrderID    27657 non-null  int64
 1   OrderDate  27657 non-null  object
 2   Gender     27657 non-null  object
 3   AgeGroup   27657 non-null  object
 4   Channel    27657 non-null  object
 5   ShipDate   19163 non-null  object
 6   ItemCode   27657 non-null  object
 7   MapCode    27657 non-null  int64
 8   Quantity   27657 non-null  int64
 9   Revenue    27657 non-null  float64
 10  Cost       27657 non-null  float64
dtypes: float64(2), int64(3), object(6)
memory usage: 2.3+ MB

In [10]:
# Item data
item = pd.read_csv(path + 'Revenue data/Item.csv')

In [11]:
item.head(2)

   ItemNo         Category      Item Type
0  A10001  Beauty & Health      Cosmetics
1  A10002  Beauty & Health  Personal Care

In [12]:
# Country data
country = pd.read_csv(path + 'Revenue data/Country.csv')

In [13]:
country.head(3)

    Region  Country Code    Country Code2 Code3   Latitude   Longitude
0  Oceania             1  Australia    AU   AUS -35.306944  149.124297
1   Europe             2    Austria    AT   AUT  48.209206   16.372778
2   Europe             3    Belgium    BE   BEL  50.503887    4.469936

## Merge 1. Revenue & Item

In [14]:
# Copy revenue data
df = revenue.copy()

In [15]:
# check data rows & columns
df.shape

(27657, 11)

In [16]:
# pd.merge(left, right,               # Object name of the DataFram that will be merged
#          how = 'inner',             # inner (default), left, rigth, outer
#          on = None,                 # The standard Key variable
#          left_on = None,            # Utilize the left DataFrame's variable as a key
#          right_on = None,           # Utilize the right DataFrame's variable as a key
#          left_index = False,        # If True, left DataFrame's index will be used as merge Key
#          right_index = False,       # If True, right DataFrame's index will be used as merge Key
#          sort = True,               # Arrange the merged DataFrame by the join key
#          suffixes = ('_x', '_y'),   # Indicate identical names by giving prefixes (defaults to '_x', '_y')
#          copy = True,               # Copy the DataFrame that will be merged
#          indicator = False)         # After merging, add the information variable that shows the source of the data frame

In [17]:
# Key: Revenue(ItemCode), Item(ItemNo)
# df = df.merge(item, how='left', left_on='ItemCode', right_on='ItemNo')
df = df.merge(item.rename(columns={'ItemNo':'ItemCode'}), on='ItemCode', how='left')

In [18]:
df.shape

(27657, 13)

## Merge 2. (Revenue & Item) & Country

In [19]:
# Key: df(MapCode), Country(Country Code)
# df = df.merge(country, how='left', left_on='MapCode', right_on='Country Code')
df = df.merge(country.rename(columns={'Country Code':'MapCode'}), on='MapCode', how='left')

In [20]:
df.shape

(27657, 19)

In [21]:
df.head(3)

,OrderID,OrderDate,Gender,AgeGroup,Channel,ShipDate,ItemCode,MapCode,Quantity,Revenue,Cost,Category,Item Type,Region,Country,Code2,Code3,Latitude,Longitude
0,100013196,2020-03-20,Female,30s,Online,2020-03-22,D10002,34,46,35576.6,29647.155,Office,Office Supplies,Asia,Taiwan,TW,TWN,23.697810,120.960515
1,100061261,2018-06-20,Female,50s,Offline,NaN,D10001,5,69,10222.8,8518.990,Home,Household,Asia,China,CN,CHN,35.861660,104.195397
2,100071990,2020-06-20,Female,20s,Online,2020-06-22,D10001,3,53,31731.5,26442.930,Home,Household,Europe,Belgium,BE,BEL,50.503887,4.469936

##  Exporting as a CSV File

In [22]:
# Exporting as a csv file
df.to_csv('Revenue data/Data.csv', index=None)

In [23]:
revenue.head(3)

,OrderID,OrderDate,Gender,AgeGroup,Channel,ShipDate,ItemCode,MapCode,Quantity,Revenue,Cost
0,100013196,2020-03-20,Female,30s,Online,2020-03-22,D10002,34,46,35576.6,29647.155
1,100061261,2018-06-20,Female,50s,Offline,NaN,D10001,5,69,10222.8,8518.990
2,100071990,2020-06-20,Female,20s,Online,2020-06-22,D10001,3,53,31731.5,26442.930

In [24]:
item.head(3)

   ItemNo         Category      Item Type
0  A10001  Beauty & Health      Cosmetics
1  A10002  Beauty & Health  Personal Care
2  B10001          Clothes        Clothes